<mat-card class="form-lantern">
  <c-base-input label="Nome" placeholder="e.g Hal Jordan" [value]="form.name" (onInput)="setForm({ name: $event })">
  </c-base-input>
  <c-base-input label="Descrição" placeholder="e.g Também conhecido como lanterna verde" [value]="form.description"
    (onInput)="setForm({ description: $event })">
  </c-base-input>
  <c-base-input label="Idade" placeholder="e.g 27" [value]="form.age" (onInput)="setForm({ age: $event })">
  </c-base-input>
  <c-base-input label="Planeta Natal" placeholder="e.g Saturno" [value]="form.bornIn"
    (onInput)="setForm({ bornIn: $event })"></c-base-input>
  <button mat-stroked-button color="primary" class="btn form-lantern__button">Trocar
    Avatar</button>
  <button mat-stroked-button color="primary" class="btn form-lantern__button" (click)="save($event)">Salvar</button>

  <lantern-avatar-dialog (onChangeAvatar)="setForm({avatarId: $event})"></lantern-avatar-dialog>
</mat-card>