<mat-card class="form-lantern">
  <c-avatar class="form-lantern__avatar" avatarClasses="avatar avatar-lg avatar-rounded"
    [imgUrl]="'/assets/img/avatars/avatar' + form.avatarId.value.toString() + '.jpg'" imgAlt="Avatar"></c-avatar>
  <c-base-input label="Nome" placeholder="e.g Hal Jordan" [value]="form.name">
  </c-base-input>
  <c-base-input label="Descrição" placeholder="e.g Também conhecido como lanterna verde" [value]="form.description">
  </c-base-input>
  <c-base-input label="Idade" placeholder="e.g 27" [value]="form.age">
  </c-base-input>
  <c-base-input label="Planeta Natal" placeholder="e.g Saturno" [value]="form.bornIn"></c-base-input>

  <lantern-select-zones [selectZones]="form.zones"></lantern-select-zones>

  <div class="form-lantern__actions">
    <button mat-stroked-button color="primary" class="btn form-lantern__button"
      (click)="openDialogAvatar(avatarDialog)">Trocar
      Avatar</button>
    <button mat-stroked-button color="primary" class="btn form-lantern__button" (click)="save($event)">Salvar</button>
  </div>

  <lantern-avatar-dialog #avatarDialog (onChangeAvatar)="form.avatarId.setValue($event)"></lantern-avatar-dialog>
</mat-card>