@import '_breakpoints.scss';

.box {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: $breakpoint-sm) {
    grid-template-columns: 50% 50%;
  }

  @media screen and (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 33.333%);
  }

  @media screen and (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 25%);
  }

  @media screen and (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(5, 20%);
  }
}
