<main class="main-content">
  <div class="container wellcome">
    <h1 class="wellcome__title">Seja bem-vindo caro terráqueo</h1>
    <p class="wellcome__sub-title">Consulte e cadastre os heroís verdes em nosso humilde aplicativo.</p>
    <img class="wellcome__image"
      src="https://vignette.wikia.nocookie.net/nerdologiaheroespowers/images/6/61/Kyle_Rayner_Terra_Primal.png/revision/latest?cb=20180806035056&path-prefix=pt-br"
      alt="Lanterna verde">
    <button mat-stroked-button color="primary" class="btn wellcome__button" (click)="handleStart()">Começar</button>
  </div>
</main>