<mat-card class="lantern-card untruncate__onhover" [class]="useClass" (click)="handleCardClick()">
  <div class="lantern-card__header">
    <c-avatar avatarClasses="avatar avatar-lg avatar-rounded" imgAlt="Avatar de teste"
      [imgUrl]="'/assets/img/avatars/avatar' + avatarId  + '.jpg'">
    </c-avatar>
    <h2 class="lantern-card__title truncate-1">{{name}}</h2>
    <span *ngIf="!hideIcons" class="lantern-card__icons">
      <button mat-icon-button color="warn" aria-label="Favoritar Lanterna Verde" (click)="handleFavorite()">
        <mat-icon>{{favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
    </span>
  </div>
  <p class="lantern-card__text truncate-2">{{description}}</p>
  <p class="lantern-card__text">{{bornIn}}</p>
</mat-card>